<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict/>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>BB5FF7661D34F35B000973B0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BBE550101B1ADAA300010ACF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BBE5502B1B1AE50400010ACF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BBE550351B1AE50500010ACF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BBE990821AFF223A004517F4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BBE990971AFF2244004517F4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
